* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: aqua;
  /* border-radius: 10px; */
}

.heading {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
    url(Resources/Homepage.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.heading2 {

  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Resources/Login.jpeg);
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 75px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: ' ';
  width: 0%;
  height: 2px;
  background: aqua;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after,
.nav-links ul li.active::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.know {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.know:hover {
  border: 1px solid aqua;
  background: aqua;
  transition: 1s;
}

.stream {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.stream-col {
  flex-basis: 45%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.stream-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.degree {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.degree-col {
  flex-basis: 22%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.course {
  flex-basis: 32%;
  margin-bottom: -50px;
}

.degree-col img {
  height: 100%;
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: aqua;
}

.layer h3,
.layer p {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer p {
  font-size: 16px;
  font-weight: 300;
}

.layer:hover h3,
.layer:hover p {
  bottom: 49%;
  opacity: 1;
}

.layer:hover p {
  bottom: 22%;
}

.infrastructure {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.infrastructure-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.infrastructure-col img {
  height: 85%;
  width: 100%;
  border-radius: 10px;
}

.infrastructure-col p {
  padding: 0px;
}

.infrastructure-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(Resources/CTA.webp);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

.about {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.about h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.sub-heading {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(Resources/Contact.webp);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}

.sub-heading2 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(Resources/Blog\ 2.jpeg);
}

.sub-heading3 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(Resources/Register.png);
}

.sub-heading4 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(Resources/Login.jpeg);
}

.sub-heading5 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(Resources/About.webp);
}

.sub-heading6 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(Resources/Course.png);
}

.sub-heading h1 {
  margin-top: 100px;
}

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.about-btn {
  border: 1px solid aqua;
  background: transparent;
  color: aqua;
}

.about-btn:hover {
  color: #fff;
}

.blog-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}

.blog-left {
  flex-basis: 65%;
}

.blog-left img {
  width: 100%;
}

.blog-left h2 {
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}

.blog-left p {
  color: #999;
  padding: 0;
}

.blog-right {
  flex-basis: 32%;
}

.blog-right h3 {
  background: aqua;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
}

.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-sizing: border-box;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}

.comment-box h3 {
  text-align: left;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form button {
  margin: 10px 0;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: aqua;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form {
  width: 250px;
  height: 380px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
  position: absolute;
  border-radius: 10px;
  padding: 25px;
  left: 38%;
  right: 38%;
  top: 147px;
}

.form h3 {
  width: 240px;
  text-align: center;
  font-size: 20px;
  background-color: aqua;
  border-radius: 10px;
  margin: 2px;
  padding: 5px 0;
}

.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #00a2ff;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
}

.form input:focus {
  outline: none;
}

.form ::placeholder {
  color: #fff;
}

.btn {
  width: 240px;
  height: 40px;
  background-color: aqua;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: white;
}

.form .link {
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a {
  text-decoration: none;
  color: aqua;
}

.liw {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.icon a {
  text-decoration: none;
}

.icon i {
  color: #fff;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.5s;
}

.icon i:hover {
  color: aqua;
}

.registration input {
  box-sizing: border-box;
}

.container {
  padding: 16px;
  background-color: white;
}

.registerbtn {
  background-color: aqua;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

.hf {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  padding: 16px;
  margin: 20px 0;
}

.ph {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.ph:focus {
  background-color: #ddd;
  outline: none;
}

.imgbox {
  width: 80%;
  padding: 20px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.imgan {
  flex-basis: 22%;
  width: 200px;
  margin: 0 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.imgan img,
.imgan iframe {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.imgan:hover {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.3);
  z-index: 1;
}

#rick {
  width: 100%;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.progress-container {
  width: 100%;
  height: 4px;
}

.progress-bar {
  height: 4px;
  background: aqua;
  width: 0%;
}